# Directories
.deps/
.libs/
.vscode/
autom4te.cache/
cov-int/
m4/

# Wildcard Match
*.a
*.desktop
*.gmo
*.m4
*.o
*.pot
*.tgz
*intltool*
*marshal.c
*marshal.h
*~
config.*
stamp-*

# File Match
compile
configure
depcomp
INSTALL
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
POTFILES

# Paths
data/org.xfce.ScreenSaver.service
data/xfce4-screensaver.directory
data/xfce4-screensaver.pc
data/xfce4-screensavers.menu
doc/xfce4-screensaver.xml
po/Makefile.in.in
savers/*.desktop.in
savers/floaters
savers/popsquares
savers/slideshow
src/test-fade
src/test-passwd
src/test-watcher
src/test-window
src/xfce4-screensaver
src/xfce4-screensaver-command
src/xfce4-screensaver-dialog
src/xfce4-screensaver-gl-helper
src/xfce4-screensaver-preferences
src/xfce4-screensaver.desktop.in
