*.o
.vscode/
INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.h.in~
config.sub
configure
data/Makefile.in
data/NONE/
data/images/Makefile.in
data/images/cosmos/Makefile.in
depcomp
doc/Makefile.in
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
ltmain.sh
m4/
missing
po/Makefile.in.in
savers/Makefile.in
src/.deps/
src/Makefile.in
Makefile
config.h
config.log
config.status
data/Makefile
data/images/Makefile
data/images/cosmos/Makefile
data/images/cosmos/background-1.xml
data/images/cosmos/cosmos.xml
data/images/cosmos/cosmos.xml.in
data/org.xfce.ScreenSaver.service
*.gschema.valid
*.gschema.xml
data/xfce4-screensaver-preferences.desktop
data/xfce4-screensaver.directory
data/xfce4-screensaver.pc
data/xfce4-screensavers.menu
doc/Makefile
doc/xfce4-screensaver.xml
libtool
po/.intltool-merge-cache
po/Makefile
po/POTFILES
po/stamp-it
*.gmo
savers/.deps/
savers/Makefile
savers/cosmos-slideshow.desktop
savers/cosmos-slideshow.desktop.in
savers/floaters
savers/footlogo-floaters.desktop
savers/footlogo-floaters.desktop.in
savers/gs-theme-engine-marshal.c
savers/gs-theme-engine-marshal.h
savers/libgs-theme-engine.a
savers/personal-slideshow.desktop
savers/personal-slideshow.desktop.in
savers/popsquares
savers/popsquares.desktop
savers/popsquares.desktop.in
savers/slideshow
src/Makefile
src/gs-marshal.c
src/gs-marshal.h
src/test-fade
src/test-passwd
src/test-watcher
src/test-window
src/xfce4-screensaver
src/xfce4-screensaver-command
src/xfce4-screensaver-dialog
src/xfce4-screensaver-gl-helper
src/xfce4-screensaver-preferences
src/xfce4-screensaver.desktop
src/xfce4-screensaver.desktop.in
src/xfcekbd-indicator-marshal.h
stamp-h1
po/xfce4-screensaver.pot
*~
