*.o
.vscode/
INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.h.in~
config.sub
configure
data/Makefile.in
data/NONE/
data/images/Makefile.in
data/images/cosmos/Makefile.in
depcomp
doc/Makefile.in
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
ltmain.sh
m4/
missing
po/Makefile.in.in
savers/Makefile.in
src/.deps/
src/Makefile.in
